In [578]:
import pandas as pd
from time import time

In [541]:
data = ['Rus','mos',1]
data2 = ['Rus','ryaz',2]
data3 = ['Rus','kaz',3]
data4 = ['Rus','vlad',4]
data5 = ['usa','NY',5]
data6 = ['usa','Vash',4]
data7 = ['usa','Bruc',1]
data8 = ['usa','alab',8]

In [476]:
#Первый способ сортировки
df = pd.DataFrame(data = [data,data2,data3,data4,data5,data6,data7,data8],columns=['contry','city','pop'])
df = df.sort_values(by = ['contry', 'pop'], ascending = [True, False])

In [393]:
df

  contry  city  pop
3    Rus  vlad    4
2    Rus   kaz    3
1    Rus  ryaz    2
0    Rus   mos    1
7    usa  alab    8
4    usa    NY    5
5    usa  Vash    4
6    usa  Bruc    1

In [542]:
#Второй споcоб сортировки в принципе ничем от первого не отличается, только страна потом засовывается в индекс,
#а в первoм можно попробовать делать срезы как я это реализовал в валс файле
df = pd.DataFrame(data = [data,data2,data3,data4,data5,data6,data7,data8],columns=['contry','city','pop'])
columns = pd.unique(df['contry'])
df = df.set_index(['contry'])
df = df.sort_values(by = ['contry','pop'],ascending = [True,False])

In [577]:
tic = time()
s=[]
for _ in contry:
    x=df.loc[_][:3]
    s.append(x)
result = pd.concat(s)
toc = time()
print(toc - tic)
#Данный цикл получает первые три самых крупных города у каждой страны и объединяет это всё в датафрейм

0.0019986629486083984

In [576]:
tic = time()
s=[df.loc[i][:3] for i in contry]
toc = time()
print(toc - tic)
#генератор работает быстрее

0.0009987354278564453

In [579]:
result

        city  pop
contry
Rus     vlad    4
Rus      kaz    3
Rus     ryaz    2
usa     alab    8
usa       NY    5
usa     Vash    4